# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv/
env/
venv/
build/
dist/

# Node.js
node_modules/
dist/
.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database / OS
*.db
*.sqlite
.DS_Store
Thumbs.db
